#papa{
    border: 5px solid green;
    position: relative;
}
#baccha1{
    background-color: red;
    width: 100px;
    height: 100px;
    
}

#baccha2{
    background-color: blue;
    width: 100px;
    height: 100px;
    position: absolute;    
}