/*Elements, id, class, universal and grouping*/
/* h1{
    color: blue;
}
p{
    color: red;
} */

/* #blue{
    color: blue;
}
#red{
    color: red;
}

.bg-black{
    background-color: black;
}
.und{
    text-decoration: underline;
} */

/* h1, p{
    background-color: red;
} */

/* *{
    color: red;
} */